<?xml version="1.0" encoding="UTF-8"?>
<openerp>
  <data>
    <menuitem id="main_account_menu" name="MyAccount"/>

    <menuitem id="account_menu_main" name="MyAccount" parent="main_account_menu"/>
    <menuitem id="bank_statement_menu" name="Bank statements" parent="account_menu_main" action="b_statement_action"/>
    <menuitem id="prediction_menu" name="Predictions" parent="account_menu_main" action="prediction_action"/>

    <menuitem id="account_menu_config" name="Config" parent="main_account_menu"/>
    <menuitem id="bank_menu" name="Banks" parent="account_menu_config" action="bank_action"/>
    <menuitem id="account_menu" name="Accounts" parent="account_menu_config" action="account_action"/>
    <menuitem id="transaction_menu" name="Transactions" parent="account_menu_config" action="transaction_action"/>
    <menuitem id="category_menu" name="Category" parent="account_menu_config" action="category_action"/>
  </data>
</openerp>
